<header>
    <h1 class="logo" class="h11">Resource Details <a class="home" href="/angularjs">Home</a></h1>
</header>
<div class="cont">
    <ul class="underline" ng-repeat='resource in resources'>
        <strong>Resource Id</strong>&nbsp:&nbsp&nbsp{{resource.id}}
        <br/>
        <strong>First Name</strong>&nbsp:&nbsp&nbsp{{resource.firstName}}
        <br/>
        <strong>Last Name</strong>&nbsp:&nbsp&nbsp{{resource.lastName}}
        <br/>
        <strong>Email-id</strong>&nbsp:&nbsp&nbsp{{resource.email}}
        <br/>
    </ul>
    <br/>
    <br/>
</div>