<h1 class="bgimage"> Project Details <div class="home"><h3>
<a href="http://localhost:3000/backbone/">Home</a></h3><div></h1>
<div class="row">
    <div id="resourceList">
        <div class="col-md-4">
            <h3>Resources</h3>
            <div class="resources">
            </div>
            <button type="button" class="btn btn-primary">Add</button>
            <button type="button" class="btn btn-primary">Remove</button>
            <button type="button" class="btn btn-primary">Update</button>
        </div>
    </div>
    <div class="col-md-4">
        <h3>Backlog</h3>
        <div class="backlog">
        </div>
    </div>

    <div class="col-md-4">
        <h3>Project Detail</h3>
        <div class="details">
        </div>
    </div>
</div>


<div class="taskdetail" class="panel panel-default">

</div>
